
.container {
    display: grid;
    width: 800px;
    grid-template-columns: repeat(8, 1fr);
    grid-template-rows: repeat(8, 1fr);
  }

  .white {
    background-color: white;
    height: 100px;
    width: 100px;
  }

  .black {
   background-color: black;
    height: 100px;
    width: 100px;
  }